
<p>
    <form action="/create" method="POST">

        <div class="mb-3 text-start">
            <label class="form-label">Nome da Tarefa:</label>
            <input type="name" name="nome_tarefa" class="form-control" id="nome_tarefa">
        </div>

        <div class="mb-3 text-start">
            <label class="form-label">Data Inicio:</label>
            <input type="datetime-local" name="dataInicio_tarefa" class="form-control" id="dataInicio_tarefa">
        </div>

        <div class="mb-3 text-start">
            <label class="form-label">Data Final:</label>
            <input type="datetime-local" name="dataFinal_tarefa" class="form-control" id="dataFinal_tarefa">
        </div>
    
        <div class="mb-3 text-start">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
        
    </form>
</p>

