<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>	
	<title>TAREFAS</title>
    <style>
        body
        {
            background-color: #575757;
        }
        .col-principal
        {
            background-color: #3e3e3e;
            color: white;
        }
        .col-principal input, .col-principal select, .col-principal textarea
        {
            background-color: #4d4d4d;
            color: white;
        }
         .col-principal input:read-only
         {
            background-color: #6c6c6c;
            color: white;
         }
        .navbar, .col-navbar
        {
            background-color: #2d2d2d;
        }
        .table
        {
            color: white;
        }
    </style>
</head>
<body>
    <!--Coluna Navbar-->
        <div class="col col-navbar">

            <!--Navbar-->
                <nav class="navbar navbar-expand-lg" data-bs-theme="dark">

                    <!--Container Navbar 2-->
                        <div class="container-fluid">

                            <!--Titulo navbar-->
                                <a class="navbar-brand" href="#">TAREFAS</a>

                            <!--Menu Hambuger (se houver-->
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                            <!--Links-->
                                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                    <div class="navbar-nav">
                                        <a class="nav-link" href="/">Cadastrar</a>
                                        <a class="nav-link" href="/read">Consultar</a>
                                    </div>
                                </div>
                            <!--Fim dos Links-->

                        </div>
                    <!--Fim do Container Navbar-->

                </nav>
            <!--Fim da Navbar-->

        </div>
    <!--Fim da Coluna Navbar-->

</div>
<!--Fim do Row Navbar-->


<!--Row Principal-->
<div class="row">

    <!--Coluna para espaçamento-->
        <div class="col-1">
            &nbsp;
        </div>
    <!--Fim da Coluna para espaçamento-->

    <!--Coluna Principal-->
        <div class="col col-principal">
            {{{body}}}
        </div>
    <!--Fim da Coluna Principal-->

    <!--Coluna para espaçamento--> 
        <div class="col-1">
            &nbsp;
        </div>
    <!--Fim da Coluna para espaçamento-->
</body>
</html>